<ul id="breadcrumbs" style='float:left;width:40%'>
    [% FOREACH item IN c.breadcrumbs %]
    <li style="display: inline">
     [% IF loop.last %]
            [% item.label %]
        [% ELSE %]
            <a href="[% c.uri_for(item.path) %]">[%item.label%]</a>&nbsp>
        [% END %]
    [% END %]
    </li>
 </ul>
