<table class="list" >

     <!-- TABLE HEADER-->
     <thead>
         <tr>
              <th>&nbsp</th><th>[% c.socal('topic') %]</th>
              <th>[% c.socal('lastupdate') %]</th>
              <th>[% c.socal('threads') %]</th>
              <th>[% c.socal('posts') %]</th> 
              [% IF c.user_exists && c.check_user_roles('admin') %]
              <th>[% c.socal('operator') %]</th>
              [% END %]
         </tr>
     </thead>

        <!-- TABLE BODY: MAIN CONTENT-->
        <tbody>
    [% WHILE (topic = rs.next) %]
        <tr id='topic_[% topic.id %]' class='state'>
            [% # This is Icon for each topic %]   
            <td class='state'>#ID [% topic.id %]</td> 
            
            [% # Each topic have topic title & topic description %]
            <td class='title'>
                <div>
                    <div>
                        <a  href="[% c.uri_for("/threads", c.req.mangle_params( {topic => topic.id}) ) %]" alt="Show thread">
                            [% topic.title %]
                        </a>
                    </div>
                    <div>
                        [% topic.description %]
                    </div>
                </div>
            </td>

            [% # Last thread title and date %]
            <td class='last_post'> 
                [% last_thread = topic.last_thread %]
                [% IF last_thread %]
                <div>
                    <div>
                        <a  href="[% c.uri_for("/posts", c.req.mangle_params( { topic => topic.id, thread => last_thread.id} ) )   %]" alt="Show thread">
                            [% last_thread.title %]
                        </a>
                    </div>
                    <div>
                        By: <a href="[% c.uri_for("/") %]" alt="Show author">
                             [% last_thread.author %]
                            </a>
                    </div>
                    <div>
                        [% last_thread.last_update_date %]
                    <div>
                </div>
            [% END %]
            </td>
            
            [% # Number of threads in this topic %]
            <td class='num'>[% topic.num_threads %]</td>
            
            [% # Number of posts in this topic %]
            <td class='num'>[%  topic.num_posts %]</td>
		    [% IF c.user_exists && c.check_user_roles('admin') %]
		    <td class='operator'>
		    	<a class='del_link_topic' href="[% c.uri_for( "/topics/delete/"_( topic.id ), c.req.query_params ) %]">[% c.socal('remove')%]</a>
		    	<a class='edit_link_topic' href="[% c.uri_for( "/topics/edit/"_( topic.id ), c.req.query_params ) %]">[% c.socal('edit')%]</a>
		    </td>
		    [% END %]
        </tr>
    [% END %]
        </tbody> 
<!-- TABLE FOOTER-->
      <tfoot>
        <tr>
	    <td>
		[% IF c.user_exists %]
			[% IF c.check_user_roles( 'admin' ) %]
			<a id='topic_add_link' href="[% c.uri_for('/topics/add') %]">[% c.socal('newtopic') %]</a>
			[% END %]
		[% ELSE %]
		   &nbsp
		[% END %]
	    </td>
	    <td>&nbsp</td><td>&nbsp</td><td colspan='3'>
	    <div class='paper'>
			<a href="[% c.uri_for('/topics', p => paper.first_page) %]">[% c.socal('firstpage') %]</a>
			[% IF paper.previous_page %]
			<a href="[% c.uri_for('/topics', p => paper.previous_page) %]"><<</a>
			[% END %]
			&nbsp
			<strong>[% paper.current_page %]</strong>
			&nbsp
			[% IF paper.next_page %]
			<a href="[% c.uri_for('/topics', p => paper.next_page) %]">>></a>
			[% END %]
			<a href="[% c.uri_for('/topics', p => paper.last_page) %]">[% c.socal('lastpage') %]</a>
		</div>	
	    </td>
	</tr>
    </tfoot>
</table>
<div class='reply' style='display: none'>
	<div class="smallfont">
		<h2 style="display: inline; padding: 0px; margin-top: 2px;font-size: 12px; margin-left: 15px;">[% c.socal('create_topic_msg') %]</h2>
	</div>
<hr style="background: #cccccc; width: 100%; margin:4px; height: 1px;"/>

[% INCLUDE 'topics/add.tt' %]
</div>
